<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>Email</td>
                <td><input type="email" required name="txt_email"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required name="txt_password"></td>
            </tr>
            <tr>
                <td>Login</td>
                <td colspan="1" align="center"><input type="submit" value="Login"></td>
            </tr>
        </table>

    </form>
    
</body>
</html>
{% if msg %}
<script>
    alert("{{msg}}")
    window.location="{% url 'Guest:Login' %}"
</script>
{% endif %}