<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amount</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <table border="2">
            <tr>
                <td>Amount</td>
                <td><input type="text" name="txt_amount" id="txt_amount" required></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
    
</body>
</html>
{% if msg %}
<script>
    alert("{{msg}}")
    window.location="{% url 'Artist:ViewCustomerRequest' %}"
</script>
{% endif %}