<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Booking</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <table border="2">
            <tr>
                <td>Sl No</td>
                <td>User Details</td>
                <td>Artwork Details</td>
                <td>Photo</td>
                <td>Price</td>
                <td>Date</td>
                <td>Status</td>
            </tr>
             {% for i in bookData %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.user_id.user_name}}</td>
                <td>{{i.artwork_id.artwork_details}}</td>
                <td><img src="{{i.artwork_id.artwork_photo.url}}" width="150" alt=""></td>
                <td>{{i.artwork_id.artwork_price}}</td>
                <td>{{i.booking_date}}</td>
                <td>

                    {% if i.booking_status == 2 %} Item Packed <a href="{% url 'Artist:tracking' i.id 3 %}">Shipped</a> 
                    {% elif i.booking_status == 3  %} Item Shipped <a href="{% url 'Artist:tracking' i.id 4 %}">Deliverd</a>
                    {% elif i.booking_status == 4 %} Item Delivered 
  {% else %}
  <a href="{% url 'Artist:tracking' i.id 2 %}">Packed</a> 
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>  
</body>
</html>
{% if msg %}
<script>
    alert("{{msg}}")
    window.location="{% url 'Artist:ViewBooking' %}"
</script>
{% endif %}