<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <table border="2">
            <tr>
                <td>Title</td>
                <td><input type="text" name="txt_title" id="txt_title"></td>
            </tr>
            <tr>
                <td>Content</td>
                <td><textarea name="txt_content" id="txt_content"></textarea></td>
            </tr>
            <tr>
                <td>Submit</td>
                <td colspan="2" align="center"><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
    <table border="1">
        <tr>
            <td>Sl No</td>
            <td>Title</td>
            <td>Content</td>
            <td>Date</td>
            <td>Reply</td>
            <td>Action</td>
        </tr>
        {% for i in complaintData %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.complaint_title}}</td>
            <td>{{i.complaint_content}}</td>
            <td>{{i.complaint_date}}</td>
            <td>{{i.complaint_reply}}</td>
            <td><a href="{% url 'User:DeleteComplaint' i.id %}">Delete</a> </td>
        </tr>
        {% endfor %}
    </table>
    
</body>
{% if msg %}
<script>
     alert("{{msg}}")
    window.location="{% url 'User:Complaint' %}"
</script>
{% endif %}
</html>