<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
    <table border="3">
        <tr>
            <td>Category</td>
            <td><input type="text" name="txt_categoryname" id="txt_categoryname" value="{{categoryOne.category_name}}"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" name="btn_submit" value="Submit"></td>
        </tr>
    </table>
    </form>
    <table border="1">
        <tr>
            <td>Sl No</td>
            <td>Category</td>
            <td>Action</td>
        </tr>
        {% for i in categoryDatas %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.category_name}}</td>
            <td><a href="{% url 'Admin:DeleteCategory' i.id %}">Delete</a> | <a href="{% url 'Admin:EditCategory' i.id %}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
    
</body>
{% if msg %}
<script>
    alert("{{msg}}")
    window.location="{% url 'Admin:Category' %}"
</script>
{% endif %}
</html>