<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <table border="2">
            <tr>
                <td>Sl No</td>
                <td>Name</td>
                <td>Email</td>
                <td>Contact</td>
                <td>Address</td>
                <td>Photo</td>
                <td>District</td>
                <td>Place</td>
                <td>Action</td>
            </tr>
            {% for i in userDatas %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.user_name}}</td>
                <td>{{i.user_email}}</td>
                <td>{{i.user_contact}}</td>
                <td>{{i.user_address}}</td>
                <td><img src="{{i.user_photo.url}}"  width="150" alt=""></td>
                <td>{{i.place.district.district_name}}</td>
                <td>{{i.place.place_name}}</td>
                <td></td>
            </tr>
            {% endfor %}
        </table>
    </form>
    
</body>
</html>